:root {
    --msg-radius: var(--def-border-radius);
}
.message {
    margin-top: 0.6rem;
    max-width: min(50vw, 25rem);
    min-width: 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
}
.message .message-content {
    min-height: 1.8rem;
    padding: 0.3rem 0.5rem;
}
.message-metadata {
    font-size: x-small;
    justify-self: flex-end;
}
.message-metadata .delivered {
    margin-right: 0.25rem;
    color: var(--color-tertiary);
}
.message-metadata .read {
    margin-right: 0.25rem;
    color: var(--color-secondary);
}
.message-metadata .delivered::after {
    content: 'delivered';
}
.message-metadata .read::after {
    content: 'read';
}
.message-metadata .timestamp {
    color: var(--color-hex);
}
.message-from-me {
    align-self: flex-end;
    text-align: left;
}
.message-from-me .message-content {
    padding-right: 0.3rem;
    border-bottom-right-radius: calc(var(--msg-radius)*0.25);
    background-color: var(--color-tertiary2);
    
    color: var(--color-primary);
}
.message-from-other {
    align-self: flex-start;
    text-align: left;
}
.message-from-other .message-content {
    padding-left: 0.3rem;
    border-bottom-left-radius: calc(var(--msg-radius)*0.25);
    background-color: var(--color-secondary2);
    color: var(--color-primary2);
}
.message-action {
    align-self: center;
    text-align: center;
    background-color: var(--color-quat3);
    color: var(--color-primary2);
    border-radius: var(--msg-radius);
    font-size: small;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.message-action > * {
    background-color: transparent !important;
}
.message-sender {
    font-size: 0.75rem;
    font-style: italic;
    color: var(--color-hex);
}
.message-scheduled {
    position: absolute;
    left: -0.8rem;
    top: -0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    fill: var(--color-tertiary);
}
.message-content {
    border-radius: var(--msg-radius);
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.2s background-color;
}
.message-content > font {
    white-space: pre-line;
    word-wrap: break-word;
    width: 100%;
}
.message-content > font a {
    color: var(--color-secondary);
    font-style: italic;
}
.message-content .contact {
    border: 1px solid var(--color-quat2);
    border-radius: calc(var(--msg-radius)*0.75);
    background-color: var(--color-quat);
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}
.message-content .contact h5 {
    margin: 0;
    margin-bottom: 0.25rem;
}
.message-content .contact .flex-def >* {
    flex-grow: 1;
}
.media-container {
    position: relative;
    min-width: 100%;
    padding: 0.1rem
}
.media-container .message-image {
    border-radius: var(--def-border-radius);
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 8rem;
}
.media-container .message-video {
    border-radius: calc(var(--def-border-radius)*0.75);
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 8rem;
}
.media-container .spinner-border {
    color: var(--color-quat);
}

.message-document {
    display: flex;
    max-width: 15rem;
    background-color: var(--color-quat2);
    border-radius: calc(var(--def-border-radius)*0.75);
    align-items: center;
    padding: 0.2rem;
}
.message-document > div {
    margin: 0.1rem;
}
.message-document * {
    font-size: small;
    color: var(--color-primary);
}
.message-pending-indicator {
    color: var(--color-tertiary);
    width: 1rem;
    height: 1rem;

    position: absolute;
    top: 25%;
    left: -1.5rem;
}
.message-retry {
    position: absolute;
    top: 0;
    left: -3rem;
    max-width: 4rem;
    padding: 0.2rem;
    font-size: small;
}
.downloadable-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.message-sticker {
    height: 8rem;
    width: 8rem;
}
.alert-message-preview {
    border-radius: var(--msg-radius);

    color: var(--color-primary);
    background-color: var(--color-quat2);
    padding: 0.3rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.alert-message-preview .text {
    display: flex;
    word-wrap: break-word !important;
}
.alert-message-preview .text > * {
    word-break: break-all;
    margin: 0.2rem;
}
.alert-message-preview .text img {
    border-radius: calc(var(--msg-radius)*0.75);
}

.message-error {
    background-color: var(--color-error) !important;
    color: var(--color-quat2) !important;
}
.message-from-me .message-note {
    background-color: var(--color-note) !important;
}
.message-note .spinner-border {
    color: var(--color-note);
}
.message-note font {
    color: black;
}
.btn-message-dropdown {
    position: absolute;
    height: 2rem;
    transition: 0.2s opacity;
}
.btn-message-dropdown:before {
    display: none;
    opacity: 0;
}
.btn-message-dropdown:after {
    display: none;
    opacity: 0;
}
.message-from-me .btn-message-dropdown {
    left: -1.5rem;
}
.message-from-other .btn-message-dropdown {
    right: -1.5rem;
}
.message .btn-message-dropdown {
    opacity: 0;
    pointer-events: none;
}
.message:hover .btn-message-dropdown {
    opacity: 1;
    pointer-events: all;
}